* {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  box-sizing: border-box;
  float: inherit;
}
body,
html {
  position: relative;
  height: 100%;
  background: #1e1e1e;
  color: rgb(202, 202, 202);
  padding: 2% 5%;

}

h1, h2, h3, h4 {
    padding-top: 15px;
    font-weight: bold;
    margin-left: 10px;
}
ul {
    margin-left: 50px;
    padding-top: 2px;
    list-style: none
}
li{
    margin-top: 2px
}
li>p{
    padding-top: 0px !important;
    margin-top: -18px !important;
}
li::before {
    content: "\2022";
    color: #f8c8dc;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
p {
    padding-top: 2px;
    margin-left: 20px;
}
.italic {
    font-style: italic;
    font-size: 15px;
}
a:link {
    color: #F8C8DC;
}
div {
    border-radius: 10px;
    box-shadow: 0px 8px 8px 0.005em #F8C8DC;
    padding: 10px;
    margin-bottom: 30px;
}
div.inside {
    display: inline-block;
    padding: 20px;
    margin: 15px;
    box-shadow: 0px 4px 8px 0.005em #F8C8DC;
    width: 31.15%;
    max-height: 600px;
    overflow-y: scroll;
    scrollbar-width: thin;
}
.copyright a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #f8c8dc;
  transition-duration: 0.5s;
}
.copyright a:hover {
  color: #f8c8dc;
  border-bottom: 1px solid #fff;
  transition-duration: 0.5s;
}
